.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;
  width: calc((100% - 60px) / 2);
  @media (min-width: 768px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }

  @media (min-width: 1200px) {
    flex-basis: calc((100% - 12 * 15px) / 6);
  }
}

.clients__link {
  display: flex;
  height: 90px;
  border: 1px solid var(--svg-maincolor);
  align-items: center;
  justify-content: center;
  color: var(--svg-maincolor);
  border-radius: 4px;
  transition: color 250ms var(--time-cubic), border 250ms var(--time-cubic);

  &:hover,
  &:focus {
    color: var(--blue-text);
    border: 1px solid var(--blue-text);
  }

  @media (min-width: 768px) {
    width: 226px;
  }

  @media (min-width: 1200px) {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
}
